{% load static %}

<!DOCTYPE html>
<html class="full" lang="en">

<head>
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" media="screen">
  <!-- Optional theme -->
  <link href="{% static 'css/bootstrap-theme.min.css'%}" rel="stylesheet" media="screen">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/home.css'%}" rel="stylesheet" media="screen">
</head>

<body>
    <!-- Page Content -->
    <div class="container-fluid" style="height: 100%;">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1 style="font-family: times new roman; text-align:center; font-weight: bold;">BIENVENIDO A SIGPAE</h1>
        </div>

        <!-- SIGPAE Histórico -->
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <br><br><br>
              <h2 style="font-family: times new roman; text-align:center; font-weight: bold;">Si desea consultar el histórico de SIGPAE dar clic a consultar Histórico</h2>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <br><br><br>
              <h2 style="font-family: times new roman; text-align:center; font-weight: bold;">Si desea realizar la transcripción de un programa dar clic a transcribir</h2>
            </div>
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
        </div>

        <!-- Botones SIGPAE Histórico -->
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <a href="{% url "consulta" %}" class="btn btn-info" role="button" style="font-family: times new roman; font-size:25px;color:black;width: auto;height:50px; float:center">Consultar Histórico</a>
              <br>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <a href="{% url "cargar" %}" class="btn btn-info" role="button" style="font-family: times new roman; font-size:25px;color:black;width: auto;height:50px; float:center">Transcribir</a>
              <br>
            </div>
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
        </div>
        
        <!-- SIGPAE -->
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <br><br><br>
              <h2 style="font-family: times new roman; text-align:center; font-weight: bold;">Si desea consultar SIGPAE dar clic a consultar SIGPAE</h2>
            </div>
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
        </div>

        <!-- Botones SIGPAE -->
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <a href="{% url "consulta_sigpae" %}" class="btn btn-info" role="button" style="font-family: times new roman; font-size:25px;color:black;width: auto;height:50px; float:center">Consultar SIGPAE</a>
              <br>
            </div>
          <div class="col-lg-1 col-md-1 col-sm-1"> </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"> </div>
      </div>
    </div>

    {% if message %}
       <script type="text/javascript">
        alert('{{ message }}');
       </script>
    {% endif %}
  </body>
</html>
