{% if texto_editable %}
	<textarea cols="50" rows="25" style="overflow:scroll;">
		{{ texto_editable }}
	</textarea>
{% endif %}

<textarea cols="50" rows="1">
</textarea>

<textarea cols="50" rows="1">
</textarea>

<textarea cols="50" rows="1" style="overflow:scroll;">
</textarea>
	 
<select name="Departamentos">
	<option value="1">Departamento de Matemáticas Puras y Aplicadas</option> 
	<option value="2">Departamento de Física</option> 
	<option value="3">Departamento de Química</option>
	<option value="4">Departamento de Mecánica</option> 
	<option value="5">Departamento de Termodinámica y Fenómenos de Transferencia</option> 
	<option value="6">Departamento de Electrónica y Circuitos</option> 
	<option value="7">Departamento de Conversión y Transporte de Energía</option> 
	<option value="8">Departamento de Procesos y Sistemas</option> 
	<option value="9">Departamento de Ciencias de los Materiales</option> 
	<option value="10">Departamento de Computación y Tecnología de la Información</option> 
	<option value="11">Departamento de Ciencias de la Tierra</option> 
	<option value="12">Departamento de Cómputo Cientifico y Estadística</option> 
</select>