<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<style>
    select,textarea,input[type]{
        background-color: #FFFFFF;
        border:10px double deepskyblue;
        font-family:arial;
        padding:10px;
        width:95%
    }
</style>

<div class="container" style="padding-top: 1em;">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex6-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse navbar-ex6-collapse">
      <ul class="nav navbar-nav">
      <li>&nbsp;</li>
        <li><a href="{% url "home" %}">SIGPAE</a></li>
        <li><a href="{% url "cargar" %}" >Cargar</a></li>
        <li><a href="{% url "consulta" %}">Consultar Transcripciones Guardadas</a></li>
      </ul>
    </div>
  </nav>

<br>
<br>

</div>

<script type="text/javascript">
   var ElCod = "{{codigo}}";
   var ElDep = "{{ dpto }}"
</script>

<div class="container-fluid" style="height: 80%">

   <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
         <h2> PDF </h2>
         {% if documento %}
            <iframe src=/prueba/{{ documento.path }} style="width:100%;height:100%;padding:10px;border:10px double deepskyblue;">
            </iframe>
         {% else %}
            <iframe src=/prueba/{{ ruta }} style="width:100%;height:100%;padding:10px;border:10px double deepskyblue;">
            </iframe>
         {% endif %}
      </div>

      <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">

         <h2> Texto extraído </h2>
         {% if texto_editable %}
         <textarea id= KKK cols="35" rows="25" col align="" style="width:100%;overflow:scroll;border:10px double deepskyblue;font-family:arial;padding:10px;height:90%;">
         {{ texto_editable}}
         </textarea>
         {% endif %}
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div style="overflow:scroll;height:100%;width:100%;overflow-y:auto;overflow-x:hidden;">

      <form name="menu_extraer">
            <select class="form-control" name="opciones_extraer" style="width:95%;">
            <option value="0" selected>Seleccione Opción
            <option value="1">Código y Departamento
            </select>
      </form>

      <button onClick="Extraer(ElCod,ElDep)">Extraer</button>


      <form action="{% url "home" %}" method="post" enctype="multipart/form-data" id="form">
         {% csrf_token %}
         <input type="hidden" name="documento" value={{ row.docfile_id.id }}>
         <input type="hidden" name="cod" value = {{ codigo }}>
         <input type="hidden" name="dpto" id="dpto">

         <h2>Dependencia</h2>
         <div onchange="mostrar()"><p>{{ form.dependencia }}</p></div>
         <div onchange="cambia_decanato()" id="decanato"><p>{{ form.decanato.label_tag }} {{ form.decanato }}</p></div>
         <div id="coordinacion_D1"><p>{{ form.coordinacion_D1.label_tag }} {{ form.coordinacion_D1 }}</p></div>
         <div id="coordinacion_D2"><p>{{ form.coordinacion_D2.label_tag }} {{ form.coordinacion_D2 }}</p></div>
         <div id="coordinacion_D3"><p>{{ form.coordinacion_D3.label_tag }} {{ form.coordinacion_D3 }}</p></div>
         <div onchange="cambia_division()" id="division"><p>{{ form.division.label_tag }} {{ form.division }}</p></div>
         <div id="departamento_D1"><p>{{ form.departamento_D1.label_tag }} {{ form.departamento_D1 }}</p></div>
         <div id="departamento_D2"><p>{{ form.departamento_D2.label_tag }} {{ form.departamento_D2 }}</p></div>
         <div id="departamento_D3"><p>{{ form.departamento_D3.label_tag }} {{ form.departamento_D3 }}</p></div>
         <div id="departamento_D4"><p>{{ form.departamento_D4.label_tag }} {{ form.departamento_D4 }}</p></div>


         <h2> Código Asignatura </h2>

         <p>{{ form.codigo_asignatura.label_tag }} {{ form.codigo_asignatura }}</p>
         <br>
         <p>{{ form.denominacion.label_tag }} {{ form.denominacion }}</p>
         <br>
         <h2> Fecha de entrada en vigencia </h2>
         <p>{{ form.periodo.label_tag }} {{ form.periodo }}</p>

         <p>{{ form.anio.label_tag }} {{ form.anio }}</p>

         <h2> Horas de teoría semanales: </h2>

         <p>{{ form.horas_T.label_tag }} {{ form.horas_T }}</p>

         <p>{{ form.horas_P.label_tag }} {{ form.horas_P }}</p>

         <p>{{ form.horas_L.label_tag }} {{ form.horas_L }}</p>

         <p>{{ form.num_creditos.label_tag }} {{ form.num_creditos }}</p>

         <p>{{ form.requisitos.label_tag }} {{ form.requisitos }}</p>

         <p>{{ form.objetivos.label_tag }} {{ form.objetivos }}</p>
         <br>

         <h2> Contenidos sinópticos </h2>

         <div onchange="mostrar_objetivos()"><p>{{ form.contenido.label_tag }} {{ form.contenido }}</p></div>

         <br>
         <br>
         <div id="obj_gen"><p>{{ form.objetivos_generales.label_tag }} {{ form.objetivos_generales }}</p></div>
         <div id="obj_esp"><p>{{ form.objetivos_especificos.label_tag }} {{ form.objetivos_especificos }}</p></div>
         <p>{{ form.estrategias_met.label_tag }} {{ form.estrategias_met }}</p>
         <br>

         <p>{{ form.estrategias_ev.label_tag }} {{ form.estrategias_ev }}</p>
         <br>

         <p>{{ form.fuentes_info.label_tag }} {{ form.fuentes_info }}</p>

        </div>

        <input type="submit" value="Guardar"/>
      </form>
      </div>
       </div>
      </div></div>

<script type="text/javascript">
  function submitForm(){
    if ('{{cond}}' == 0) {
      alert('Entre con 0')
      return false;
    }
    else if('{{cond}}' == 1){
      alert('entre con 1')
      return true;
    }
  }
</script>
<script type="text/javascript">
   document.getElementById('id_dependencia').value = "{{ row.dependencia }}";
   document.getElementById('id_decanato').value = "{{ row.decanato }}";
   document.getElementById('id_coordinacion_D1').value = "{{ row.coordinacion_D1 }}";
   document.getElementById('id_coordinacion_D2').value = "{{ row.coordinacion_D2 }}";
   document.getElementById('id_coordinacion_D3').value = "{{ row.coordinacion_D3 }}";
   document.getElementById('id_division').value = "{{ row.division }}";
   document.getElementById('id_departamento_D1').value = "{{ row.departamento_D1 }}";
   document.getElementById('id_departamento_D2').value = "{{ row.departamento_D2 }}";
   document.getElementById('id_departamento_D3').value = "{{ row.departamento_D3 }}";
   document.getElementById('id_departamento_D4').value = "{{ row.departamento_D4 }}";
   document.getElementById('id_codigo_asignatura').value = "{{ row.codigo_asignatura }}";
   document.getElementById('id_denominacion').value = "{{ row.denominacion }}";
   document.getElementById('id_periodo').value = "{{ row.periodo }}";
   document.getElementById('id_anio').value = "{{ row.anio }}";
   document.getElementById('id_horas_T').value = "{{ row.horas_T }}";
   document.getElementById('id_horas_P').value = "{{ row.horas_P }}";
   document.getElementById('id_horas_L').value = "{{ row.horas_L }}";
   document.getElementById('id_num_creditos').value = "{{ row.num_creditos }}";
   document.getElementById('id_requisitos').value = "{{ row.requisitos }}";
   document.getElementById('id_estrategias_met').value = "{{ row.estrategias_met }}";
   document.getElementById('id_estrategias_ev').value = "{{ row.estrategias_ev }}";
   document.getElementById('id_contenido').value = "{{ row.contenido }}";
   document.getElementById('id_objetivos_generales').value = "{{ row.objetivos_generales }}";
   document.getElementById('id_objetivos_especificos').value = "{{ row.objetivos_especificos }}";
   document.getElementById('id_fuentes_info').value = "{{ row.fuentes_info }}";


</script>

<script>

var division_1=["Seleccione Departamento","Departamento de Física","Departamento de Química","Departamento de Mecánica","Departamento de Matemáticas Puras y Aplicadas","Departamento de Computación y Tecnología de la Información","Departamento de Cómputo Científico y Estadística","Departamento de Electrónica y Circuitos","Departamento de Termodinámica y Fenómenos de Transferencia","Departamento de Conversión y Transporte de Energía","Departamento de Procesos y Sistemas","Departamento de Ciencias de los Materiales","Departamento de Ciencias de la Tierra"]
var division_2=["Seleccione Departamento","Departamento de Ciencia y Tecnología del Comportamiento","Departamento de Lengua y Literatura","Departamento de Ciencias Económicas y Administrativas","Departamento de Idiomas","Departamento de Filosofía","Departamento de Ciencias Sociales","Departamento de Diseño Arquitectura y Artes Plásticas","Departamento de Planificación Urbana"]
var division_3=["Seleccione Departamento","Departamento de Biología Celular","Departamento de Estudios Ambientales","Departamento de Biología de Organismos","Departamento de Tecnología de Procesos Biológicos y Bioquímicos"]
var division_4=["Seleccione Departamento","Departamento de Tecnología de Servicios","Departamento de Tecnología Industrial","Departamento de Formación General y Ciencias Básicas"]
/*
function cambia_division2(k){
   var div = document.f1.div[document.f1.div.selectedIndex].value
   if (div != 0) {
      mis_division=eval("division_" + div)
      num_division = mis_division.length
      document.f1.division.length = num_division
      for(i=0;i<num_division;i++){
         document.f1.division.options[i].value=mis_division[i]
         document.f1.division.options[i].text=mis_division[i]
      }
   }else{
      document.f1.division.length = 1
      document.f1.division.options[0].value = "-"
      document.f1.division.options[0].text = "-"
   }
   document.f1.division.options[k].selected = true
}
var decanato_1=new Array("Seleccione Coordinación","Coordinación del Ciclo Básico","Coordinación del Ciclo Profesional","Coordinación de Formación General","Coordinación del Ciclo de Iniciación Universitaria")
var decanato_2=new Array("Seleccione Coordinación","Coordinación de Química","Coordinación de Matemática","Coordinación de Biología","Coordinación de Física","Coordinación de Tecnología e Ingeniería Eléctrica","Coordinación de Tecnología e Ingeniería Electrónica","Coordinación de Ingeniería Mecánica","Coordinación de Ingeniería Química","Coordinación de Ingeniería de Computación","Coordinación de Ingeniería Geofísica","Coordinación de Ingeniería de Materiales","Coordinación de Ingeniería de Producción y Organización Empresarial","Coordinación de Tecnología Mecánica, Mantenimiento Aeronáutico e Ingeniería de Mantenimiento","Coordinación de Ingeniería de Telecomunicaciones","Coordinación de Arquitectura","Coordinación de Estudios Urbanos","Coordinación de Turismo, Hotelería y Hospitalidad","Coordinación de Comercio Exterior y Licenciatura en Comercio Internacional")
var decanato_3=new Array("Seleccione Coordinación","Coordinación de Tecnología e Ingeniería Eléctrica","Coordinación de Tecnología Eléctrica y Electrónica","Coordinación de Ingeniería de Producción y Organización Empresarial","Coordinación de Turismo, Hotelería y Hospitalidad","Coordinación de Administración Aduanera","Coordinación de Comercio Exterior y Licenciatura en Comercio Internacional","Coordinación de Administración del Transporte y Organización Empresarial","Coordinación de Tecnología Mecánica, Mantenimiento Aeronáutico e Ingeniería de Mantenimiento")

function cambia_decanato2(k){
   var dec = document.f2.dec[document.f2.dec.selectedIndex].value
   if (dec != 0) {
      mis_decanato=eval("decanato_" + dec)
      num_decanato = mis_decanato.length
      document.f2.decanato.length = num_decanato
      for(i=0;i<num_decanato;i++){
         document.f2.decanato.options[i].value=mis_decanato[i]
         document.f2.decanato.options[i].text=mis_decanato[i]
      }
   }else{
      document.f2.decanato.length = 1
      document.f2.decanato.options[0].value = "-"
      document.f2.decanato.options[0].text = "-"
   }
   document.f2.decanato.options[k].selected = true
}

function mostrar2(id) {
   if (id == "coordinaciones") {
      $("#coordinaciones").show();
      $("#departamento").hide();
   }

   if (id == "departamento") {
      $("#coordinaciones").hide();
      $("#departamento").show();
   }

}
*/


/*Funcion que al cargar la pagina se encarga de esconder todos los select para que luego a medida que el usuario vaya seleccionando las distintas opciones, se vayan desplegando los select correspondientes*/
function inicio(){
   $("#decanato").hide();
   $("#coordinacion_D1").hide();
   $("#coordinacion_D2").hide();
   $("#coordinacion_D3").hide();
   $("#departamento_D1").hide();
   $("#departamento_D2").hide();
   $("#departamento_D3").hide();
   $("#departamento_D4").hide();
   $("#division").hide();
}
window.onload = inicio();
window.onload = desplegar_carga();

/*Funcion que se encarga de desplegar los campos de departamentos que esten llenos cuando se viene de consulta*/
function desplegar_carga(){
    if(document.getElementById('id_dependencia').value=='Departamento') {
        //Caso Departamento
        var div = document.getElementById('id_division').value;
        if (div.length>0) {
            $("#division").show();
            if (div == "División de Ciencias Físicas y Matemáticas"){
                $("#departamento_D1").show();
            }
            else if (div == "División de Ciencias Sociales y Humanidades") {
                $("#departamento_D2").show();
            }
            else if (div == "División de Ciencias Biológicas") {
                $("#departamento_D3").show();
            }
            else if (div == "División de Ciencias y Tecnologías Administrativas e Industriales") {
                $("#departamento_D4").show();
            }
        }
    }
    else{
        //Este caso es una coordinacion
        var dec = document.getElementById('id_decanato').value;
        if ( dec.length>0){
            $("#decanato").show();
            if (dec =="Decanato de Estudios Generales") {
                $("#coordinacion_D1").show();
            }
             else
            {
               if (dec =="Decanato de Estudios Profesionales") {
                  $("#coordinacion_D2").show();
               } else {
                  $("#coordinacion_D3").show();
               }
             }

        }
    }
}

/*Funcion que se encarga de mostrar la unidad que desea seleccionar el usuario, esto es, si el usuario marca coordinacion como unidad, mostrar las opciones correspondientes*/
function mostrar() {
   $("#decanato").hide();
   $("#coordinacion_D1").hide();
   $("#coordinacion_D2").hide();
   $("#coordinacion_D3").hide();
   $("#departamento_D1").hide();
   $("#departamento_D2").hide();
   $("#departamento_D3").hide();
   $("#departamento_D4").hide();
   $("#division").hide();
   var uni = document.getElementById('id_dependencia').value;
   if (uni =="Departamento") {
      $("#division").show();
   }else{
      $("#decanato").show();
   }

}
/*Funcion que en base a un decanado seleccionado muestra
las coordinaciones que conforman ese decanato para que pueda ser
seleccionada una coordinacion por el usuario*/

function cambia_decanato(){
   $("#departamento_D1").hide();
   $("#departamento_D2").hide();
   $("#departamento_D3").hide();
   $("#departamento_D4").hide();
   $("#division").hide();
   $("#coordinacion_D1").hide();
   $("#coordinacion_D2").hide();
   $("#coordinacion_D3").hide();
   var dec = document.getElementById('id_decanato').value;
   if (dec =="Decanato de Estudios Generales") {
      $("#coordinacion_D1").show();
   }
   else
   {
       if (dec =="Decanato de Estudios Profesionales") {
          $("#coordinacion_D2").show();
       } else {
          $("#coordinacion_D3").show();
       }
   }
}

/*Funcion que en base a una division seleccionada muestra
los departamentos que conforman esa division para que pueda ser
seleccionado un departamento por el usuario*/

function cambia_division(){
   $("#departamento_D1").hide();
   $("#departamento_D2").hide();
   $("#departamento_D3").hide();
   $("#departamento_D4").hide();
   $("#decanato").hide();
   $("#coordinacion_D1").hide();
   $("#coordinacion_D2").hide();
   $("#coordinacion_D3").hide();
   var div = document.getElementById('id_division').value;
   if (div =="División de Ciencias Físicas y Matemáticas") {
      $("#departamento_D1").show();
   }
   if (div =="División de Ciencias Sociales y Humanidades") {
      $("#departamento_D2").show();
   }
   if (div =="División de Ciencias Biológicas") {
      $("#departamento_D3").show();
   }
   if (div =="División de Ciencias y Tecnologías Administrativas e Industriales") {
      $("#departamento_D4").show();
   }
}


/*Funcion que verifica si se logro extraer algun codigo, en caso de ser negativo levanta una advertencia, en caso contrario
  procede a escribir el codigo en su campo respectivo y llamar a su funcion auxiliar. */
function Extraer(cod,dpto) {
    if (document.menu_extraer.opciones_extraer.options[1].selected==true) {
        if (cod.length == 0) {
            alert("No se encontró ningún código");
        }
        else {
            asig = document.getElementById('id_codigo_asignatura');
            asig.value = cod;

            AsignarDep(dpto);
        }
    }
}
/*Funcion que verifica si un objeto esta contenido, o no, en un arreglo*/
function contains(a, obj) {
    for (var i = 0; i < a.length; i++) {
        if (a[i] === obj) {
            return true;
        }
    }
    return false;
}
/*Funcion que una vez recibo el departamento, asigna la dependencia, division y departamento a la pagina.
  usada como auxiliar de Extraer*/
function AsignarDep(dpto) {
    mi_division=[]
    Ndpto=0
    val=0
    $("#division").show();
    if (contains(division_1,dpto)){
        val=0
        Ndpto=division_1.indexOf(dpto)-1
        mi_division = division_1
        document.getElementById('id_departamento_D1').options[Ndpto].selected=true
        document.getElementById('dpto').value=document.getElementById('id_departamento_D1').value
        $("#departamento_D1").show();
    }
    else if (contains(division_2,dpto)) {
        val=1
        Ndpto=division_2.indexOf(dpto)-1
        mi_division = division_2
        document.getElementById('id_departamento_D2').options[Ndpto].selected=true
        document.getElementById('dpto').value=document.getElementById('id_departamento_D2').value
        $("#departamento_D2").show();
    }
    else if (contains(division_3,dpto)) {
        val=2
        Ndpto=division_3.indexOf(dpto)-1
        mi_division = division_3
        document.getElementById('id_departamento_D3').options[Ndpto].selected=true
        document.getElementById('dpto').value=document.getElementById('id_departamento_D3').value
        $("#departamento_D3").show();
    }
    else if (contains(division_4,dpto)) {
        val=3
        Ndpto=division_4.indexOf(dpto)-1
        mi_division = division_4
        document.getElementById('id_departamento_D4').options[Ndpto].selected=true
        document.getElementById('dpto').value=document.getElementById('id_departamento_D4').value
        $("#departamento_D4").show();
    }
    else{
        alert("No se encontró ningún Departamento para el codigo extraido");
    }

    document.getElementById('id_dependencia').options[1].selected=true
    document.getElementById('id_division').options[val].selected=true

}

/*Funcion utilizada para cambiar entre los tipos de objetivos. Cambia entre
la opcion de tener solo Objetivos y tener Objetivos Generales y Objetivos
Especificos*/
function mostrar_objetivos() {
   $("#obj_gen").hide();
   $("#obj_esp").hide();
   var obj = document.getElementById('id_contenido').value;
   var cont_obj_gen = document.getElementById('id_objetivos_generales').value;
   var cont_obj_esp = document.getElementById('id_objetivos_especificos').value;

   /*Caso base: no se ha introducido ningun tipo de contenido en los campos de Objetivos*/
   if ((cont_obj_gen.length==0)&&(cont_obj_esp.length==0)){
      /*Oculta los objetivos generales y especificos y muestra los objetivos generales*/
      if (obj == "Objetivos") {
        $("#obj_gen").show();
        $("#obj_esp").hide();
      }
      /*Oculta los objetivos y muestra los objetivos generales y especificos*/
      if (obj == "Objetivos Generales y Específicos") {
        $("#obj_gen").show();
        $("#obj_esp").show();
      }
   }else{
      if (obj == "Objetivos"){
         if (confirm("Al cambiar de modalidad se perderá la división entre los tipos\
 de Objetivos y toda la información pasará a estar en el único campo de\
 Objetivos. ¿Desea proseguir?")){
            mantenerContenidos2('id_objetivos_generales','id_objetivos_especificos','id_objetivos_generales'); // Copia el contenido al unico campo de Objetivos
            document.getElementById('id_objetivos_especificos').value = ""; //Borra el contenido en especificos
            $("#obj_gen").show();
            $("#obj_esp").hide();
            }
      }
      else{
         $("#obj_gen").show();
         $("#obj_esp").show();
      }
   }

}
/*Funcion utilizada para mantener el contenido de las textareas cuando se pasa
de la opcion Objetivos a Objetivos Generales y Objetivos Especificos*/
function mantenerContenidos (psCopyFromId, psCopyToId)
{
   var copyFrom = document.getElementById(psCopyFromId);
   var copyTo = document.getElementById(psCopyToId);



   copyTo.value = copyFrom.value;
}

/*Funcion utilizada para mantener el contenido de las textareas cuando se pasa
de la opcion Objetvos Generales y Especificos a la opcion Objetivos*/
function mantenerContenidos2 (psCopyFromId1, psCopyFromId2, psCopyToId)
{

   var copyFrom1 = document.getElementById(psCopyFromId1);
   var copyFrom2 = document.getElementById(psCopyFromId2);
   var copyTo = document.getElementById(psCopyToId);



   copyTo.value = copyFrom1.value + "\n" + copyFrom2.value;
}

</script>

{% if mensaje_alerta %}
   <script type="text/javascript">
    alert('{{ mensaje_alerta }}');
   </script>
{% endif %}

<script type="text/javascript">
  document.getElementById('dpto').value=ElDep
</script>
